{% extends "admin/index.html" %}
{% load i18n static %}

{% block sidebar %}
    {% if user.is_superuser %}
        <div id="content-related">
            <div class="module" id="recent-actions-module">
                <h2>{% trans 'Recent actions' %}</h2>
                <h3>{% trans 'All users' %}</h3>
                    {% load log %}
                    {% get_admin_log 30 as admin_log %}
                    {% if not admin_log %}
                        <p>{% trans 'None available' %}</p>
                    {% else %}
                        <ul class="actionlist">
                        {% for entry in admin_log %}
                            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                                {% if entry.is_deletion or not entry.get_admin_url %}
                                    {{ entry.object_repr }}
                                {% else %}
                                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                                {% endif %}
                                <br/>
                                {% if entry.content_type %}
                                    <span class="mini quiet">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}, by {{ entry.user }}</span>
                                {% else %}
                                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}